<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Pokemon stats</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

</head>
<body>
  
  <div class="header">
    <h1>Visualizing Pokemon stats</h1>
    <p>An analysis and visualization of Pokemon stats and abilities</p>
  </div>
  
  <div class="navbar">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('compare') }}" class="active">Compare stats</a>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('data') }}">Data</a>
  </div>

<!-- Content Section -->

  <div class='row'> 
    <div class= "col-4"></div>
    <h3 class="col-4">Generate custom scatter plot</h3>
  </div>
  <br>
  <div class='row'> 
    <div class= "col-4"></div>
    <p class="col-4">
      Some text here....
    </p>
  </div>
  <br>
  <div class='row'> 
    <div class= "col-5"></div>
    <form class="col-4" action="/compare" method="POST">      
      <label for="stat_name1">Stat 1: </label>
      <select id="stat_name1" name="stat_name1">
        {% for stat_name in dropdown_menu %}
        <option value="{{ stat_name }}">{{ stat_name }}</option>
        {% endfor %} 
      </select>
      <div class="row"></div>
      <label for="stat_name2">Stat 2: </label>
      <select id="stat_name2" name="stat_name2">
        {% for stat_name in dropdown_menu %}
        <option value="{{ stat_name }}">{{ stat_name }}</option>
        {% endfor %} 
      </select>
      <div class="row">
        <div class="col-2"></div>
        <button id="submitButton" type="submit" value="submit">I choose you!</button>
      </div>
    </form>
  </div>
  <br>
  <div class="row" id="plot">
    <div class="col-3"></div>
    <img class="col-6" src='{{ links.src }}'>
  </div>
  <div class="row" id="caption">
    <div class="col-4"></div>
    <h4 class="col-4" style="text-align:center; color:red;">{{ links.r2 }}</h4>
  </div>
  <br>
  <br>


  <div class="footer">
    <h4>Created by Travis Tyler</h4>
    <small>travisatyler@gmail.com</small>
  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="./static/app.js"></script> -->

</body>
</html>