<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Pokemon stats</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

</head>
<body>
    
    <div class="header">
      <h1>Pokedex</h1>
      <p>All Pokemon data</p>
    </div>
    
    <div class="navbar">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('compare') }}">Compare stats</a>
      <a href="{{ url_for('dashboard') }}">Dashboard</a>
      <a href="{{ url_for('data') }}" class="active">Data</a>
    </div>

  <!-- Content Section -->

  <div class="container">
    <div class="row margin-top-50">
      <div class="col-md-2">
        <aside class="filters">
          <div class="panel panel-default">
            <div class="panel-heading">Filter Search</div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="filter list-group-item">
                      <label for="date">Enter a Pokedex No.</label>
                      <input class="form-control no-field" id="datetime" type="text" placeholder="1">
                    </li>
                    <li class="filter list-group-item">
                      <label for="date">Enter a name</label>
                      <input class="form-control name-field" id="text" type="text" placeholder="Bulbasaur">
                    </li>
                    <li class="filter list-group-item">
                      <label for="date">Enter a generation</label>
                      <input class="form-control gen-field" id="text" type="text" placeholder="1">
                    </li>
                    <li class="filter list-group-item">
                      <label for="date">Enter a primary type</label>
                      <input class="form-control type1-field" id="text" type="text" placeholder="Grass">
                    </li>
                    <!-- <li class="filter list-group-item">
                      <label for="date">Enter a secondary type</label>
                      <input class="form-control type2-field" id="text" type="text" placeholder="Poison">
                    </li> -->
                    <li class="filter list-group-item">
                      <label for="date">Enter an ability</label>
                      <input class="form-control ability-field" id="text" type="text" placeholder="Overgrow">
                    </li>
                  </ul>
                </div>
                <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
              </form>
            </div>
          </div>
        </aside>
      </div>
      <div class="col-md-10">
        <div id="table-area" class="">
          <table id="ufo-table" class="table table-striped">
            <thead>
              <tr>
                <th class="table-head">No.</th>
                <th class="table-head">Name</th>
                <th class="table-head">Gen.</th>
                <th class="table-head">Primary type</th>
                <th class="table-head">Secondary type</th>
                <th class="table-head">Height (m)</th>
                <th class="table-head">Weight (kg)</th>
                <th class="table-head">Ability</th>
                <th class="table-head">Ability 2</th>
                <th class="table-head">Hidden ability</th>
                <th class="table-head">Total points</th>
                <th class="table-head">HP</th>
                <th class="table-head">Attack</th>
                <th class="table-head">Defense</th>
                <!-- <th class="table-head">Special attack</th>
                <th class="table-head">Special defense</th> -->
                <th class="table-head">Speed</th>
                <th class="table-head">Catch rate</th>
                <!-- <th class="table-head">Base friendship</th>
                <th class="table-head">Base XP</th> -->
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  
    <div class="footer">
      <h4>Created by Travis Tyler</h4>
      <small>travisatyler@gmail.com</small>
    </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/app.js"></script>

</body>
</html>