<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Pokemon stats</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

</head>
<body>
    
    <div class="header">
      <h1>Pokedex</h1>
      <p>An analysis and visualization of Pokemon stats and abilities</p>
    </div>
    
    <div class="navbar">
      <a href="{{ url_for('home') }}" class="active">Home</a>
      <a href="{{ url_for('compare') }}">Compare stats</a>
      <a href="{{ url_for('dashboard') }}">Dashboard</a>
      <a href="{{ url_for('data') }}">Data</a>
    </div>

  <!-- Content Section -->

    <div class='row'> 
      <div class= "col-4"></div>
      <h3 class="col-4">Welcome to your pokedex!</h3>
    </div>
    <br>
    <div class='row'> 
      <div class= "col-4"></div>
      <p class="col-4">
        Exloratory analysis and simply visualizations reveal the eight generations of Pokemon games to be highly balanced. 
        This assement hold true between types, scross generations, and especially among starters 
        (Pokemon the player begins each game with, which, it can be assumed, will be some of the most frequently used).
      </p>
    </div>
    <br>
    <div class='row'> 
      <div class= "col-4"></div>
      <p class="col-4">
        Welcome to your Pokedex! Feel free to expore the Poke-stats! 
      </p>
    </div>
  </div>
  <br>
  <div class='row'> 
<div class= "col-4"></div>
<p class="col-4">
  All data from: <a href="https://www.kaggle.com/abcsds/pokemon">https://www.kaggle.com/abcsds/pokemon</a>
</p>
</div>
    <br>


  
    <div class="footer">
      <h4>Created by Travis Tyler</h4>
      <small>travisatyler@gmail.com</small>
    </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="./static/app.js"></script> -->

</body>
</html>